body {

  background-color: orange;
  font-family: 'Pacifico', cursive;

}

h1 {
  color: purple;
  background-color: plum;
  font-size: 40px;
  border-radius: 10px;
  border-color:rgb(255, 230, 0);
  border-width: 5px;
  border-style: solid;
}
p {
  color: rgb(195, 89, 195);
  background-color: blanchedalmond;
  font-size: 20px;
  font-weight: 50;
  font-family: 'Caladea', serif;

}

h2 {
  color: plum;
  background-color: rgb(255, 230, 0);
  border-radius: 10px;
  border-color: purple;
  border-width: 5px;
  border-style: solid;
}

h3 {
  color: rgb(255, 230, 0);
  border-radius: 10px;
  border-color:plum;
  border-width: 5px;
  border-style: solid;
}

table {
  color: green;
  background-color:pink;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  border-color:rgb(255, 230, 0);
  border-width: 5px;
  border-style: solid;
  /* font-family: 'Caladea', serif; */
}
.responsive-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border-color:plum;
  border-width: 5px;
  border-style: solid;
}

@media (max-width: 768px) {

  body {background-color: rgb(150, 92, 150);}
  h1 {background-color: rgb(255, 230, 0)}
}

@media (max-width: 320px) {
  h1 {
    color: rgb(71, 49, 236);
    background-color: rgb(181, 167, 239);
  }
}
@media (min-width: 1200px) {
  p {
    padding: 20px 0px 20px 20px;
    font-size: 25px;
  }
}

div {
  background-color:blanchedalmond;
  border-radius: 10px;
  border-color:rgb(255, 230, 0);
  border-width: 5px;
  border-style: solid;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding: 20px;
  margin: 0 auto;
  box-sizing: 0 0 5px;
}
#check {
  display: none;
}
.content {
  display: none;

}
label {
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
  color: orange;
  font-weight:bolder;
}
#check:checked ~ .content {
  display: block;
}